@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}
/* Hide scrollbar for Webkit, Firefox, and Edge */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
